/* Global styles */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Body styles */
  body {
    background-color: #f7f7f7;
  }
  
  body{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #logo {
    margin-top: 40px;
  }

  /* Form styles */
  form {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
  }
  
  h2 {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  /* Form group styles */
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    color: #666;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input,
  select,
  textarea {
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    outline: none;
    border-color: #0080ff;
  }
  
  button[type="submit"] {
    background-color: #007AFF;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #fff;
    color: #007AFF;
    border: 1px solid #007AFF;
  }
  